### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.env

package/*
.env/*
# Mac Stuff
###########
# General
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon
# Thumbnails
._*
# rope project dir
.ropeproject
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IDEA
######
.idea/

# Add symlinked files to ignore
client/ayon_shotgrid/version.py
services/leecher/__init__.py
services/leecher/ayon_shotgrid_hub
services/leecher/constants.py
services/leecher/utils.py
services/processor/__init__.py
services/processor/ayon_shotgrid_hub
services/processor/constants.py
services/processor/utils.py
services/transmitter/__init__.py
services/transmitter/ayon_shotgrid_hub
services/transmitter/constants.py
services/transmitter/utils.py
